/* -----------------------------------------------------------------------------*/
/*      MEDIA QUERIES - RESPONSIVIDADE      */


/* Tablets e telas médias - telas de 481px até 700px */
@media screen and (max-width: 700px) {

    #pagina1 {
        width: 98vw;
        height: 99vh;
        padding: 1.8% 4%;
        gap: 3%;
        grid-template-rows: 42% 11.5% 11.5% 11.5% 1fr;
    }

    .botao {
        width: 105%;
    }

    #velho-testamento,
    #novo-testamento,
    #apocrifos {
        width: 100%;
        max-width: 600px;
        height: 97vh;
        padding-bottom: 0.5%;
    }

    #img-vt,
    #img-nt,
    #img-ap {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #retornarnt,
    #retornarap {
        aspect-ratio: 3 / 1;
    }

    #start {
        width: 35%;
        margin-bottom: 2.5%;
    }

    #pagina2 {
        grid-template-columns: 30% 20% 32% 18%;
        grid-template-rows: 9vh 31vh 9vh 12vh 9vh 6vh 21vh;
        padding: 0 2%;
    }

    #obs2 {
        font-size: clamp(2.6vw, 18px, 3.3vw);
        line-height: 1.3rem;
        padding: 2% 0% 0 1%;
    }

    #Marcapontuacao {
        width: 90%;
        margin: auto 0 auto 5%;
    }

    #obs3 {
        font-size: clamp(2.6vw, 18px, 3.2vw);
        line-height: 1.3rem;
        padding: 2% 0 0 1%;
    }

    #seta2 {
        margin: auto 5% auto 60%;
    }

    #container-dicas {
        height: 90%;
        min-width: 170px;
        margin: auto 5% auto 19%;
    }

    #despenser-livros {
        margin: auto 23%;
    }

    #obs4 {
        font-size: clamp(2.6vw, 18px, 3.9vw);
        padding: 2% 0 0 2%;
    }

    .caixa-dropped {
        width: 39vw;
    }

    #pontuacao-final,
    #tempo-final,
    #proxima-fase,
    #sair-jogo-finalizado {
        width: 70%;
        max-height: 75px;
        padding: 3%;
        font-size: 24px;
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
    }

}

/* Smartphones - telas de 376 a 480px */
@media screen and (max-width: 480px) {

    #pagina1 {
        width: 100vw;
        gap: 0;
        grid-template-rows: 40% 15% 15% 15% 15%;
    }

    #img1 {
        height: 90%;
        margin: 5% 0;
    }

    #img1:hover {
        transform: scale(1.2);
        cursor: zoom-in;
    }

    .img-botao {
        width: 95%;
    }

    #velho-testamento {
        height: 98vh;
    }

    #novo-testamento {
        grid-template-rows: 85% 15%;
    }

    #retornarnt {
        width: 40vw;
        font-size: 26px;
    }

    .link-saiba-mais {
        width: 40vw;
        font-size: 26px;
    }

    #retornarap {
        width: 40vw;
        font-size: 25px;
    }

    #start {
        width: 40%;
        aspect-ratio: 10 / 4;
        font-size: clamp(28px, 4vw, 33px);
        border: outset 4px rgb(252, 237, 177);
        align-self: center;
        margin: 0;
    }

    #pagina2 {
        grid-template-rows: 10vh 30vh 10vh 13vh 10vh 6vh 19vh;
        width: 100vw;
        max-height: 98vh;
    }

    #obs2 {
        font-size: 3.7vw;
        line-height: 1.4rem;
        padding: 1% 1% 0 2%;
    }

    #Marcatempo {
        width: 90%;
        margin: auto;
        padding: 3%;
    }

    h2 {
        font-size: 5vw;
    }

    #obs3 {
        font-size: 3.7vw;
        line-height: 1.4rem;
        padding: 1% 1% 0 2%;
        z-index: 2;
    }

    #Marcapontuacao {
        width: 90%;
        margin: auto;
        height: 76%;
    }

    .dica {
        width: 100%;
        position: relative;
        right: 10%;
        top: 6%;
    }

    #seta1 {
        margin: auto 0% auto -7%;
    }

    #container-dicas {
        min-width: auto;
    }

    #despenser-livros {
        margin: auto 20%;
        width: 150px;
    }

    #obs4 {
        font-size: 3.7vw;
        line-height: 1.4rem;
    }

    .caixa-dropped {
        width: 42vw;
        height: 70%;
    }

    #dica-bonus #imagem-de-fundo {
        width: 90vw;
        max-width: 400px;
        height: auto;
    }

    #mensagem-final {
        grid-template-rows: 16% 11% 11% auto;
    }

    #mensagem-de-erro,
    #mensagem-de-acerto {
        width: 90vw;
        max-width: 400px;
        height: auto;
    }

    #sair-salvar {
        width: 95%;
        height: 80%;
        font-size: 6vw;
    }


    #pontuacao-final,
    #tempo-final,
    #proxima-fase,
    #sair-jogo-finalizado {
        width: 79%;
        font-size: 22px;
    }
}

/* Telas muito pequenas */
@media screen and (max-width: 375px) {

    #pagina1 {
        grid-template-rows: 44% 12% 12% 12% 20%;
    }

    #obs2 {
        line-height: 1.2rem;
    }

    #Marcatempo {
        width: 95%;
    }

    #obs3 {
        line-height: 1.2rem;
    }

    #seta1 {
        width: 35px;
        height: 35px;
    }

    #seta2 {
        width: 35px;
        height: 35px;
        margin: auto 38%;
    }

    #despenser-livros {
        width: 36vw;
        margin: auto 21%;
    }

    #pontuacao-final,
    #tempo-final,
    #proxima-fase,
    #sair-jogo-finalizado {
        width: 81%;
        font-size: 20px;
    }

    h2 {
        font-size: 6vw;
    }

    h5 {
        font-size: 9px;
    }

}

/* Telas com largura até 375px e altura 667px */
@media screen and (max-width: 375px) and (max-height: 667px) {
    #pagina2 {
        grid-template-rows: 10vh 29vh 10vh 13vh 9vh 6vh 22vh;
        width: 100vw;
    }

    #Marcatempo {
        height: 90%;
    }

    #Marcapontuacao {
        height: 85%;
    }
}